<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917575844853-9bdqi96f6gmonglvm3tgg53oj8a9mb5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917575844853-9bdqi96f6gmonglvm3tgg53oj8a9mb5j</string>
	<key>API_KEY</key>
	<string>AIzaSyDgL4M-Fb_fnThjdSrydLo03SzDHpUFLOs</string>
	<key>GCM_SENDER_ID</key>
	<string>917575844853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zx.letitgo</string>
	<key>PROJECT_ID</key>
	<string>let-it-go-e6229</string>
	<key>STORAGE_BUCKET</key>
	<string>let-it-go-e6229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917575844853:ios:4372c42d770c2537</string>
	<key>DATABASE_URL</key>
	<string>https://let-it-go-e6229.firebaseio.com</string>
</dict>
</plist>